/progCryptografia/RenyisImagenesCodigosImportantes/HistogramaLogisticCoupledSImple/build/
/progCryptografia/RenyisImagenesCodigosImportantes/HistogramaLogisticCoupledSImple/dist/
/progCryptografia/RenyisImagenesCodigosImportantes/HistogramaRenyi/dist/
/progCryptografia/RenyisImagenesCodigosImportantes/HistogramaRenyi/build/